
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      
        <div class="form-group col-6">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control"  />
           
            <span *ngIf="f['name'].errors && issubmit" >
                <div *ngIf="f['name'].errors?.['required']">
                 Name is required.
                </div>
            
                </span>  
        </div>
       

        
    </div>

    <div class="form-row">
      
        <div class="form-group col-6">
            <label>Occupation</label>
           <select class="form-control" formControlName="occupationId" >
          
            <option *ngFor="let occ of occpationList" value={{occ.id}}>
              {{occ.occupation}}
            </option>

            <span *ngIf="f['occupationId'].errors && issubmit" >
                <div *ngIf="f['occupationId'].errors?.['required']">
                    occupation is required.
                </div>
            
                </span> 
            </select>
           
        </div>

        
    </div>

    <div class="form-row">
      
        <div class="form-group col-6">
            <label>Birth Date</label>
         

    <input class="form-control"  onkeydown="return false"  
    ngbDatepicker (click)="datePicker.toggle()" 
    #datePicker="ngbDatepicker" formControlName="birthDate"
     placeholder="yyyy-mm-dd">

     <span *ngIf="f['birthDate'].errors && issubmit" >
        <div *ngIf="f['occupationId'].errors?.['required']">
            occupation is required.
        </div>
    
        </span> 


    </div>

        
    </div>

    <div class="form-row">
      
        <div class="form-group col-6">
            <label>Death – Sum Insured.</label>
            <input type="number" formControlName="sumInsured" class="form-control"  />
           
            <span *ngIf="f['sumInsured'].errors && issubmit" >
                <div *ngIf="f['sumInsured'].errors?.['required']">
                    occupation is required.
                </div>
            
                </span> 
        </div>

        
    </div>
   
  
    <input type="submit"  class="btn btn-primary"/>

    <div *ngIf="data">Total Premium to payid {{data?.premiumAmount}} </div>


    
</form>